<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="client/common/template">

<head>
	<meta charset="UTF-8" />
	<title>Tra cứu hình thức đóng</title>
	<script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
</head>

<body>
	<div layout:fragment="content" th:remove="tag">
		<h3 class="title-5 m-b-35">Hình thức đóng</h3>
		<div class="table-responsive table-responsive-data2">
			<table class="table table-data2" id="datatable">
				<thead>
					<tr>
						<th>ID</th>
						<th>Tên</th>
						<th>Số tháng</th>
					</tr>
				</thead>
			</table>
		</div>
	<script type="text/javascript" th:inline="javascript">

		var vietnameseUrl = [[@{/vendor/datatables/Vietnamese.json}]];
		var url = [[@{/api/method/getAll}]];

		var id = "";
		var table;
		$(document).ready(function () {
			table = $('#datatable').DataTable({
				"ordering": false,
				"searching": false,
				"paging": false,
				"destroy": true,
				"info": false,
				"autoWidth": false,
				"processing": true,
				"serverSide": true,
				"ajax": {
					type: "GET",
					url: url,
					dataType: "json",
					contentType: "application/json",
					data: null
				},
				"columns": [
					{ "data": "id", className: "text-right" },
					{ "data": "name" },
					{ "data": "month", className: "text-right" },
				],
				"createdRow": function (row, data, index) {
					$(row).addClass('tr-shadow');
				},
				"language": {
					"url": vietnameseUrl,
				},
				"initComplete": function (settings, json) {
				},
				"drawCallback": function () {
					table.rows().every(function () {
						this.nodes().to$().after('<tr class="spacer"></tr>')
					})
				}
			});
		});
	</script>
	</div>
</body>

</html>