<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="store/common/template" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Giỏ hàng</title>
    <script th:src="@{/management/vendor/jquery-3.2.1.min.js}"></script>
    <script th:src="@{/management/vendor/datatables/jquery.dataTables.min.js}"></script>
    <script th:src="@{/management/vendor/datatables/dataTables.bootstrap4.min.js}"></script>
    <script th:src="@{/management/vendor/datatables/dataTables.checkboxes.min.js}"></script>
    <link th:href="@{/management/vendor/datatables/dataTables.bootstrap4.min.css}" rel="stylesheet" media="all"/>
    <link th:href="@{/management/vendor/datatables/dataTables.checkboxes.css}" rel="stylesheet" media="all"/>
</head><!--/head-->

<body>
<div layout:fragment="content" th:remove="tag">
    <section id="cart_items">
        <div class="table-responsive cart_info">
            <h3>Giỏ hàng</h3>
            <table id="datatable" class="table table-condensed">
                <thead>
                <tr class="cart_menu">
                    <th class="text-center">Ảnh</th>
                    <th class="text-center">Tên</th>
                    <th class="text-right">Giá</th>
                    <th class="text-right">Số lượng</th>
                    <th class="text-right">Tổng tiền</th>
                    <th class="text-center"></th>
                </tr>
                </thead>
            </table>
        </div>
        <div id="total" class="chose_area" style=" float: right; width: 50%;">
            <li>Tạm tính <span>đ</span> <span id="temp"></span></li>
            <li>Giảm giá <span> đ</span><span id="discount"></span></li>
            <li>Thành tiền <span> đ</span><span id="money"></span></li>
            <a class="btn btn-danger check_out" th:href="@{/customer/check-out-contact}">Tiến hành đặt hàng</a>
        </div>
        <div class="modal fade" id="confirm-delete" tabindex="-1"
             role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">Xoá sản phẩm trong giỏ hàng</div>
                    <div class="modal-body">Bạn muốn xoá sản phẩm này?</div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Không
                        </button>
                        <a class="btn btn-danger btn-ok" style="color: white;">Xóa</a>
                    </div>
                </div>
            </div>
        </div>
    </section> <!--/#cart_items-->
    <script type="text/javascript" th:inline="javascript">
        var vietnameseUrl = [[@{/management/vendor/datatables/Vietnamese.json}]];
        var listURL = [[@{/api/cart/getAll}]];
        var editURL = [[@{/api/cart/edit}]];
        var delURL = [[@{/api/cart/delete}]];
        var table;
        var id;
        var temp;
        var discount;
        var money;
        $(document).ready(function () {
			table = $('#datatable').DataTable({
				"ordering": false,
				"searching": false,
				"paging": false,
				"destroy": true,
				"info": false,
				"autoWidth": false,
				"processing": true,
				"serverSide": true,
				"oLanguage": {
                    "sEmptyTable": "Bạn chưa thêm sản phẩm nào vào giỏ hàng"
                },
				"ajax": {
					type: "GET",
					url: listURL,
					dataType: "json",
                    contentType: "application/json",
					data: null,
					error: function (data) {
						alert(data.responseJSON.error + "\n" + data.responseJSON.message);
					},
				},
				"columns": [
					{ "data": function (data, type, dataToSet) {
					    return "<a href='/product/"+data.product.id+"'><img height='100px' src="+data.product.images[0]+"></a>";
					}, className: "text-center" },
					{ "data": function (data, type, dataToSet) {
					   return "<a href='/product/"+data.product.id+"'>"+data.product.name+"></a>";
					}, className: "text-left" },
					{ "data": "unitPrice", className: "text-right" },
					{ "data": function(data, type, dataToSet){
					    return '<div class="cart_quantity_button"><button onclick="addQ('+data.quantity+','+data.product.id+')" class="cart_quantity_up"> + </button><input class="cart_quantity_input" type="text" name="quantity" value="'+data.quantity+'" onkeyup="inputQ('+data.product.id+',this)"><button onclick="subQ('+data.quantity+','+data.product.id+')" class="cart_quantity_down"> - </button></div>';
					}, className: "text-right" },
					{ "data": function (data, type, dataToSet) {
					    return data.quantity * data.unitPrice;
					}, className: "text-right" },
					{ "data": "product.id", className: "cart_delete" },
				],
				"createdRow": function (row, data, index) {
					$(row).addClass('tr-shadow');
				},
				columnDefs:[
				 {
					"render": function ( data, type, row ) {
						 var content = '<button class="cart_quantity_delete" data-placement="top" data-toggle="modal" data-target="#confirm-delete"><i class="fa fa-times"></i></button></div>';
				         return content;
	                 },
	                 "orderable": false,
   	                "targets": 5
	             },
	             {
					"render": function (data, type, row) {
						return formatNumber(data);
					},
				    "orderable": false,
			   	    "targets": [2, 4]
				 }
				],
				"language": {
					"url": vietnameseUrl,
				},
				"initComplete": function (settings, json) {
				},
				"drawCallback": function () {
					table.rows().every(function () {
						this.nodes().to$().after('<tr class="spacer"></tr>')
					});
					temp = this.api().column(4).data().reduce(function (a, b) {
                        return parseInt(a) + parseInt(b);
                    }, 0);
                    $('#temp').html(formatNumber(temp));
                    money = temp - discount;
		            $('#money').html(formatNumber(money));
				}
			});
		});
		$('#datatable').on( 'click', 'tbody tr', function () {
			var data = table.row($(this)).data();
			id = data.product.id;
		});
		$('#confirm-delete').on('click', '.btn-ok', function(e) {
			  	var $modalDiv = $(e.delegateTarget);
			  	$.ajax({
					type: "DELETE",
					url: delURL +"?id=" + id,
					success: function(){
                        $modalDiv.modal('hide');
                         table.draw();
					},
					error: function (data) {
						$modalDiv.find('div.modal-body').html('<b>' + data.responseJSON.error + "\n" + data.responseJSON.message + '<b>');
					}
				});
		});
		discount = 0;
		$('#discount').html(formatNumber(discount));
		money = temp - discount;
		$('#money').html(formatNumber(money));
		function addQ(q, i){
			    id = i;
			    quantity = q + 1;
			    editCart();
			}
		function subQ(q, i){
			    id = i;
			    quantity = q - 1;
			    if(quantity < 1) quantity = 1;
			    else{
                    editCart();
                }
			}
		function inputQ(i, input){
                if(event.keyCode == 13) {
                    id = i;
                    if(input.value < 1) quantity = 1;
                    else{
                        quantity = input.value;
                        editCart();
                    }
                }
			}
		function editCart() {
              $.ajax({
                  url: editURL +"?productId="+id+"&quantity="+quantity,
                  type: 'GET',
                  processData: false,
                  success: function () {
                      table.draw();
                  },
                  error: function (data) {
                      alert(data.responseJSON.error + "\n" + data.responseJSON.message);
                  }
              });
          };

    </script>
</div>
</body>
</html>