<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="store/common/template" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Sổ địa chỉ</title>
    <script th:src="@{/management/vendor/jquery-3.2.1.min.js}"></script>
    <script th:src="@{/management/vendor/datatables/jquery.dataTables.min.js}"></script>
    <script th:src="@{/management/vendor/datatables/dataTables.bootstrap4.min.js}"></script>
    <script th:src="@{/management/vendor/datatables/dataTables.checkboxes.min.js}"></script>
    <link th:href="@{/management/vendor/datatables/dataTables.bootstrap4.min.css}" rel="stylesheet" media="all"/>
    <link th:href="@{/management/vendor/datatables/dataTables.checkboxes.css}" rel="stylesheet" media="all"/>
</head><!--/head-->

<body>
<div layout:fragment="content" th:remove="tag">
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="left-sidebar">
                        <h2 sec:authentication="principal.name"></h2>
                        <div class="panel-group category-products" id="accordian"><!--category-productsr-->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <ul class="nav nav-pills nav-stacked list-group">
                                        <a th:href="@{/customer/profile}">
                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                                <h4 class="panel-title"><i class="fa fa-user"></i> Thông tin cá nhân
                                                </h4>
                                            </li>
                                        </a>
                                        <a th:href="@{/customer/order}">
                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                                <h4 class="panel-title"><i class="fa fa-crosshairs"></i> Theo dõi đơn
                                                    hàng</h4>
                                            </li>
                                        </a>
                                        <a th:href="@{/customer/contact}">
                                            <li class="list-group-item d-flex justify-content-between align-items-center active">
                                                <h4 class="panel-title"><i class="fa fa-book"></i> Sổ địa chỉ</h4>
                                            </li>
                                        </a>
                                        <a th:href="@{/customer/comment}">
                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                                <h4 class="panel-title"><i class="fa fa-comment"></i> Nhận xét sản phẩm
                                                </h4>
                                            </li>
                                        </a>
                                        <a th:href="@{/logout}">
                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                                <h4 class="panel-title"><i class="fa fa-sign-out"></i> Đăng xuất</h4>
                                            </li>
                                        </a>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-9 padding-right">
                    <div class="features_items"><!--features_items-->
                        <h2 class="title text-center">Sổ địa chỉ</h2>
                        <button class="btn btn-success"
                                data-toggle="modal" data-target="#add-contact">
                            <i class="fa fa-plus"></i>Thêm mới
                        </button>
                        <div class="table-responsive table-responsive-data2">
                            <table class="table table-data2" id="datatable">
                                <thead>
                                <tr>
                                    <th>Địa chỉ</th>
                                    <th>Hành động</th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="modal fade" id="confirm-delete" tabindex="-1"
                             role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">Xoá địa chỉ</div>
                                    <div class="modal-body">Bạn muốn xoá địa chỉ này?</div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Không
                                        </button>
                                        <a class="btn btn-danger btn-ok" style="color: white;">Xóa</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" id="add-contact" tabindex="-1" role="dialog"
                             aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">
                                            <span th:remove="tag">Thêm địa chỉ</span>
                                        </h5>
                                    </div>
                                    <div class="modal-body">
                                        <form id="from-add">
                                            <div class="form-group row">
                                                <label class="col-sm-3 form-label">Tên người nhận</label>
                                                <div class="col-sm-9">
                                                    <input required="required" class="form-control" type="text"
                                                           name="name" id="name"/>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-3 form-label">Số điện thoại</label>
                                                <div class="col-sm-9">
                                                    <input required="required" class="form-control" type="text"
                                                           name="phone" id="phone"/>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-3 form-label">Tỉnh/Thành phố</label>
                                                <div class="col-sm-5">
                                                    <select class="form-control" id="province" name="province">
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-3 form-label">Quận/Huyện</label>
                                                <div class="col-sm-5">
                                                    <select class="form-control" id="district" name="district">
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-3 form-label">Xã</label>
                                                <div class="col-sm-5">
                                                    <select class="form-control" id="village" name="village">
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-3 form-label">Địa chỉ cụ thể</label>
                                                <div class="col-sm-9">
                                                    <input required="required" class="form-control" type="text"
                                                           name="phone" id="address"/>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-sm-3"></div>
                                                <div class="form-group col-sm-9">
                                                    <div>
                                                        <button id="addButton" type="submit" style="width: 60%;"
                                                                class="btn btn-success waves-effect waves-light">Thêm
                                                        </button>
                                                        <button type="reset"
                                                                class="btn btn-warning waves-effect waves-light">Đặt lại
                                                        </button>
                                                        <button type="button"
                                                                class="btn btn-danger waves-effect waves-light"
                                                                data-dismiss="modal">Hủy
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" id="edit-contact" tabindex="-1" role="dialog"
                             aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">
                                            <span th:remove="tag">Thêm địa chỉ</span>
                                        </h5>
                                    </div>
                                    <div class="modal-body">
                                        <form id="from-edit">
                                            <div class="form-group row">
                                                <label class="col-sm-3 form-label">Tên người nhận</label>
                                                <div class="col-sm-9">
                                                    <input required="required" class="form-control" type="text"
                                                           name="name" id="name2"/>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-3 form-label">Số điện thoại</label>
                                                <div class="col-sm-9">
                                                    <input required="required" class="form-control" type="text"
                                                           name="phone" id="phone2"/>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-3 form-label">Tỉnh/Thành phố</label>
                                                <div class="col-sm-5">
                                                    <select class="form-control" id="province2" name="province2">
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-3 form-label">Quận/Huyện</label>
                                                <div class="col-sm-5">
                                                    <select class="form-control" id="district2" name="district2">
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-3 form-label">Xã</label>
                                                <div class="col-sm-5">
                                                    <select class="form-control" id="village2" name="village2">
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-3 form-label">Địa chỉ cụ thể</label>
                                                <div class="col-sm-9">
                                                    <input required="required" class="form-control" type="text"
                                                           name="phone" id="address2"/>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-sm-3"></div>
                                                <div class="form-group col-sm-9">
                                                    <div>
                                                        <button id="eidtButton" type="submit" style="width: 60%;"
                                                                class="btn btn-primary2 waves-effect waves-light">Xác
                                                            nhận
                                                        </button>
                                                        <button type="reset"
                                                                class="btn btn-warning waves-effect waves-light">Đặt lại
                                                        </button>
                                                        <button type="button"
                                                                class="btn btn-danger waves-effect waves-light"
                                                                data-dismiss="modal">Hủy
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script type="text/javascript" th:inline="javascript">

        var getAllProvince = [[@{/api/location/getAllProvince}]]
			var getDistrictByProvince = [[@{/api/location/getDistrictByProvince}]]
			var getVillageByDistrict = [[@{/api/location/getVillageByDistrict}]]

			var province = $('#province');
			var district = $('#district');
			var village = $('#village');

			$("#add-contact").ready(function () {
				$.ajax({
					url: getAllProvince,
					type: 'GET',
					dataType: "json",
					contentType: "application/json",
					success: function (data) {
						for (var i = 0; i < data.length; i++) {
							var $option = $("<option/>", {
								value: data[i].id,
								text: data[i].name
							});
							province.append($option);
						}
					},
					error: function () {
						alert("Loi xay ra");
					}
				});
				$.ajax({
					url: getDistrictByProvince,
					type: 'GET',
					dataType: "json",
					contentType: "application/json",
					data: { "provinceId": "01" },
					success: function (data) {
						for (var i = 0; i < data.length; i++) {
							var $option = $("<option/>", {
								value: data[i].id,
								text: data[i].name
							});
							district.append($option);
						}
					},
					error: function () {
						alert("Loi xay ra");
					}
				});
				$.ajax({
					url: getVillageByDistrict,
					type: 'GET',
					dataType: "json",
					contentType: "application/json",
					data: { "districtId": "001" },
					success: function (data) {
						for (var i = 0; i < data.length; i++) {
							var $option = $("<option/>", {
								value: data[i].id,
								text: data[i].name
							});
							village.append($option);
						}
					},
					error: function () {
						alert("Loi xay ra");
					}
				});
			});
			province.on('change', function () {
				$.ajax({
					url: getDistrictByProvince,
					type: 'GET',
					dataType: "json",
					contentType: "application/json",
					data: { "provinceId": province.val() },
					success: function (data) {
						district.empty();
						village.empty();
						for (var i = 0; i < data.length; i++) {
							var $option = $("<option/>", {
								value: data[i].id,
								text: data[i].name
							});
							district.append($option);
						}
						$.ajax({
							url: getVillageByDistrict,
							type: 'GET',
							dataType: "json",
							contentType: "application/json",
							data: { "districtId": data[0].id },
							success: function (data) {
								village.empty();
								for (var i = 0; i < data.length; i++) {
									var $option = $("<option/>", {
										value: data[i].id,
										text: data[i].name
									});
									village.append($option);
								}
							},
							error: function () {
								alert("Loi xay ra");
							}
						});
					},
					error: function () {
						alert("Loi xay ra");
					}
				});
			});
			district.on('change', function () {
				$.ajax({
					url: getVillageByDistrict,
					type: 'GET',
					dataType: "json",
					contentType: "application/json",
					data: { "districtId": district.val() },
					success: function (data) {
						village.empty();
						for (var i = 0; i < data.length; i++) {
							var $option = $("<option/>", {
								value: data[i].id,
								text: data[i].name
							});
							village.append($option);
						}
					},
					error: function () {
						alert("Loi xay ra");
					}
				});
			});

            var province2 = $('#province2');
			var district2 = $('#district2');
			var village2 = $('#village2');

            $("#edit-contact").ready(function () {
				$.ajax({
					url: getAllProvince,
					type: 'GET',
					dataType: "json",
					contentType: "application/json",
					success: function (data) {
						for (var i = 0; i < data.length; i++) {
							var $option = $("<option/>", {
								value: data[i].id,
								text: data[i].name
							});
							province2.append($option);
						}
					},
					error: function () {
						alert("Loi xay ra");
					}
				});
				$.ajax({
					url: getDistrictByProvince,
					type: 'GET',
					dataType: "json",
					contentType: "application/json",
					data: { "provinceId": province2.val() },
					success: function (data) {
						for (var i = 0; i < data.length; i++) {
							var $option = $("<option/>", {
								value: data[i].id,
								text: data[i].name
							});
							district2.append($option);
						}
					},
					error: function () {
						alert("Loi xay ra");
					}
				});
				$.ajax({
					url: getVillageByDistrict,
					type: 'GET',
					dataType: "json",
					contentType: "application/json",
					data: { "districtId": district2.val() },
					success: function (data) {
						for (var i = 0; i < data.length; i++) {
							var $option = $("<option/>", {
								value: data[i].id,
								text: data[i].name
							});
							village2.append($option);
						}
					},
					error: function () {
						alert("Loi xay ra");
					}
				});
			});
			province2.on('change', function () {
				$.ajax({
					url: getDistrictByProvince,
					type: 'GET',
					dataType: "json",
					contentType: "application/json",
					data: { "provinceId": province2.val() },
					success: function (data) {
						district2.empty();
						village2.empty();
						for (var i = 0; i < data.length; i++) {
							var $option = $("<option/>", {
								value: data[i].id,
								text: data[i].name
							});
							district2.append($option);
						}
						$.ajax({
							url: getVillageByDistrict,
							type: 'GET',
							dataType: "json",
							contentType: "application/json",
							data: { "districtId": data[0].id },
							success: function (data) {
								village2.empty();
								for (var i = 0; i < data.length; i++) {
									var $option = $("<option/>", {
										value: data[i].id,
										text: data[i].name
									});
									village2.append($option);
								}
							},
							error: function () {
								alert("Loi xay ra");
							}
						});
					},
					error: function () {
						alert("Loi xay ra");
					}
				});
			});
			district2.on('change', function () {
				$.ajax({
					url: getVillageByDistrict,
					type: 'GET',
					dataType: "json",
					contentType: "application/json",
					data: { "districtId": district2.val() },
					success: function (data) {
						village2.empty();
						for (var i = 0; i < data.length; i++) {
							var $option = $("<option/>", {
								value: data[i].id,
								text: data[i].name
							});
							village2.append($option);
						}
					},
					error: function () {
						alert("Loi xay ra");
					}
				});
			});

		var vietnameseUrl = [[@{/management/vendor/datatables/Vietnamese.json}]];
		var url = [[@{/api/customer/getContact}]];
		var addURL = [[@{/api/customer/addContact}]];
		var editURL = [[@{/api/customer/editContact}]];
		var delURL = [[@{/api/customer/deleteContact}]];

		var id = "";
		var table;
		$(document).ready(function () {
			table = $('#datatable').DataTable({
				"ordering": false,
				"searching": false,
				"paging": false,
				"destroy": true,
				"info": false,
				"autoWidth": false,
				"processing": true,
				"serverSide": true,
				"ajax": {
					type: "GET",
					url: url,
					dataType: "json",
					contentType: "application/json",
					data: null,
					error: function (data) {
						alert(data.responseJSON.error + "\n" + data.responseJSON.message);
					}
				},
				"columns": [
					{ "data": function (data, type, dataToSet) {
                        return "<li>Tên: " + data.name + "</li><br/><li>Số điện thoại: " + data.phone + "</li></br><li>Địa chỉ: " + data.address + ", " + data.location + "</li>";
                    }, className: "text-left"},
					{ "data": "id", className: "text-center" },
				],
				"createdRow": function (row, data, index) {
					$(row).addClass('tr-shadow');
				},
				columnDefs:[
				 {
					"render": function ( data, type, row ) {
						 var content = '<div class="table-data-feature"> <button class="btn btn-primary2 waves-effect waves-light" data-placement="top" data-toggle="modal" data-target="#edit-contact" data-json="' + encodeURI(JSON.stringify(row)) +'"><i class="fa fa-edit"></i> Chỉnh sửa</button>'
		                    +'&emsp;<button class="btn btn-danger waves-effect waves-light" data-placement="top" data-toggle="modal" data-target="#confirm-delete"><i class="fa fa-times"></i> Xóa</button></div>';
				         return content;
	                 },
	                 "orderable": false,
   	                "targets": 1
	                }
				],
				"language": {
					"url": vietnameseUrl,
				},
				"initComplete": function (settings, json) {
				},
				"drawCallback": function () {
					table.rows().every(function () {
						this.nodes().to$().after('<tr class="spacer"></tr>')
					})
				}
			});
		});
		$('#datatable').on( 'click', 'tbody tr', function () {
				var data = table.row($(this)).data();
				id = data.id;
		});
		$('#confirm-delete').on('click', '.btn-ok', function(e) {
			  	var $modalDiv = $(e.delegateTarget);
			  	$.ajax({
					type: "DELETE",
					url: delURL +"?id=" + id,
					success: function(){
                        $modalDiv.modal('hide');
                         table.draw();
					},
					error: function (data) {
						$modalDiv.find('div.modal-body').html('<b>' + data.responseJSON.error + "\n" + data.responseJSON.message + '<b>');
					}
				});
			});
		$('#edit-contact').on('show.bs.modal', function(e) {
			    //get data-id attribute of the clicked element
			    var jsonStr = $(e.relatedTarget).data('json');
			  	var row = JSON.parse(decodeURI(jsonStr));
			    //populate the textbox
			  	 $("#edit-contact #name2").val(row.name);
			  	 $("#edit-contact #phone2").val(row.phone);
				 $("#edit-contact #province2").val(row.provinceId);
				 $("#edit-contact #district2").val(row.districtId);
				 $("#edit-contact #village2").val(row.villageId);
				 $("#edit-contact #address2").val(row.address);
			});
		///handle submit form on dialog
          $("#add-contact form").submit(function (e) {
              e.preventDefault();
              var saveContactDto={};
             var formData = $('#add-contact form').serializeArray();
			    saveContactDto.name = formData[0].value;
				saveContactDto.phone = formData[1].value;
				saveContactDto.villageId = formData[4].value;
				saveContactDto.address = formData[5].value;;
              $.ajax({
                  url: addURL,
                  type: 'POST',
                  dataType: "json",
                  cache: false,
                  contentType: "application/json",
                  processData: false,
                  data: JSON.stringify(saveContactDto),
                  success: function () {
                      $('#add-contact').modal('hide');
                      table.draw();
                  },
                  error: function (data) {
                      alert(data.responseJSON.error + "\n" + data.responseJSON.message);
                  }
              });
              });
         $("#edit-contact form").submit(function (e) {
              e.preventDefault();
              var saveContactDto={};
             var formData = $('#edit-contact form').serializeArray();
             saveContactDto.id = id;
			    saveContactDto.name = formData[0].value;
				saveContactDto.phone = formData[1].value;
				saveContactDto.villageId = formData[4].value;
				saveContactDto.address = formData[5].value;;
              $.ajax({
                  url: editURL,
                  type: 'POST',
                  dataType: "json",
                  cache: false,
                  contentType: "application/json",
                  processData: false,
                  data: JSON.stringify(saveContactDto),
                  success: function () {
                      $('#edit-contact').modal('hide');
                      table.draw();
                  },
                  error: function (data) {
                      alert(data.responseJSON.error + "\n" + data.responseJSON.message);
                  }
              });
          });
    </script>
</div>
</body>
</html>