<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="store/common/template" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Login | E-Shopper</title>

</head><!--/head-->

<body>
<div layout:fragment="content" th:remove="tag">
    <section id="form"><!--form-->
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-sm-offset-4">
                    <div class="login-form"><!--login form-->
                        <h2>Đăng nhập</h2>
                        <form th:action="@{/auth}" method="post">
                            <input type="Username" placeholder="Tên truy nhập" name="username" autofocus="autofocus"/>
                            <input type="Password" placeholder="Mật khẩu" name="password"/>
                            <span>
								<input type="checkbox" class="checkbox" name="remember-me">
								Ghi nhớ đăng nhập
							</span>
                            <button type="submit" class="btn btn-default">Đăng nhập</button>
                        </form>
                        <p>Bạn quên mật khẩu? Nhấn vào <a th:href="@{/signup}">đây</a>.</p>
                        <p>Bạn chưa có tài khoản mua hàng? <a th:href="@{/signup}">Đăng ký ngay.</a></p>
                    </div><!--/login form-->
                </div>
            </div>
        </div>
    </section><!--/form-->
</div>
</body>
</html>