<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="store/common/template" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Tìm kiếm</title>
    <script th:src="@{/store/js/jquery.js}"></script>
</head><!--/head-->

<body>
<div layout:fragment="content" th:remove="tag">
    <section id="slider"><!--slider-->
        <div class="pull-right" style="display: inline-flex;">
            <p>Sắp xếp theo: </p>
            <select style="display: inline-block;">
                <option>Giá thấp lên cao</option>
                <option>Giá cao xuống thấp</option>
                <option>Số sao đánh giá</option>
                <option>Mới nhất</option>
            </select>
        </div>
        <div class="pull-right" style="margin-right:20px;">
            <button id="totalRecord" hidden th:value="${products.recordsTotal}"></button>
            <p th:text="'Tổng số sản phẩm tìm được: '+${products.recordsTotal}"></p>
        </div>
    </section><!--/slider-->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="left-sidebar">
                        <h2>Danh mục</h2>
                        <div class="panel-group category-products" id="accordian"><!--category-productsr-->
                            <div class="panel panel-default" th:each="category : ${categories}">
                                <div class="panel-heading">
                                    <h4 class="panel-title"><a th:href="|/search?categoryId=${category.id}|"
                                                               th:text="${category.name}"></a></h4>
                                </div>
                            </div>
                        </div><!--/category-products-->

                        <div class="brands_products"><!--brands_products-->
                            <h2>Thương hiệu</h2>
                            <div class="brands-name">
                                <ul class="nav nav-pills nav-stacked">
                                    <li><a href="#"> <span class="pull-right">(50)</span>Acne</a></li>

                                </ul>
                            </div>
                        </div><!--/brands_products-->

                        <div class="price-range"><!--price-range-->
                            <h2>Giá</h2>
                            <input type="text" placeholder="Từ(đ)"> <span> - </span> <input type="text"
                                                                                            placeholder="Đến(đ)">
                        </div><!--/price-range-->

                        <div class="shipping text-center"><!--shipping-->
                            <img th:src="@{store/images/home/shipping.jpg}" alt=""/>
                        </div><!--/shipping-->

                    </div>
                </div>

                <div class="col-sm-9 padding-right">
                    <div class="tab-content">
                        <div class="product-card" th:each="product : ${products.data}">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <a th:href="|/product/${product.id}|">
                                        <div class="productinfo">
                                            <img th:src="${product.images[0]}" alt=""/>
                                            <p th:text="${#strings.abbreviate(product.name, 50)} "></p>
                                            <h2 th:text="${#numbers.formatDecimal(product.unitPrice, 0, 'POINT', 0, 'POINT') +'đ'}"></h2>
                                            <p th:text="${product.rating}"></p>
                                            <p th:text="${product.totalComment} + ' nhận xét'"></p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <ul id="paging" class="pagination">
                </ul>
            </div>
        </div>
    </section>
    <script type="text/javascript" th:inline="javascript">
    function removeParams(sParam)
    {
            var url = window.location.href.split('?')[0]+'?';
            var sPageURL = decodeURIComponent(window.location.search.substring(1)),
                sURLVariables = sPageURL.split('&'),
                sParameterName,
                i;

            for (i = 0; i < sURLVariables.length; i++) {
                sParameterName = sURLVariables[i].split('=');
                if (sParameterName[0] != sParam) {
                    url = url + sParameterName[0] + '=' + sParameterName[1] + '&'
                }
            }
            return url.substring(0,url.length-1);
    }
    var currentUrl = new URL(location.href);
    var start = currentUrl.searchParams.get("start");
    if(start == null) active = 0;
    else active = start / 40;
    var numPage = $("#totalRecord").val()/40;
    for(let i = 0; i <= numPage; i ++){
        if(i == active)
            $("#paging").append('<li class="active"><a href="'+ removeParams("start") + '&start=' + (i * 40) +'">' + (i + 1) + '</a></li>');
        else
            $("#paging").append('<li><a href="'+ removeParams("start") + '&start=' + (i * 40) +'">' + (i + 1) + '</a></li>');
    }
    </script>
</div>
</body>
</html>