<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="admin/common/template" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!-- Required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Title Page-->
    <title>Đơn hàng</title>

</head>

<body>
<div layout:fragment="content" th:remove="tag">
    <script>
            $(function () {
                $("#fromDate").datetimepicker({
                    format: 'd/m/Y',
                    timepicker: true
                });
                 $("#toDate").datetimepicker({
                    format: 'd/m/Y',
                    timepicker: true
                });
            });
    </script>
    <!-- MAIN CONTENT-->
    <section class="au-breadcrumb m-t-75">
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="au-breadcrumb-content">
                            <div class="au-breadcrumb-left">
                                <ul class="list-unstyled list-inline au-breadcrumb__list">
                                    <li class="list-inline-item active">
                                        <a th:href="@{/admin/home}">Trang chủ</a>
                                    </li>
                                    <li class="list-inline-item seprate">
                                        <span>/</span>
                                    </li>
                                    <li class="list-inline-item">Đơn hàng giao thành công</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="p-t-20">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="table-data__tool">
                        <div class="table-data__tool-left">
                            <div class="row">
                                <div class="col-md-3 col-sm-3">
                                    <div class="form-group">
                                        <label class="control-label">Từ ngày: </label><input
                                            name="fromDate" id="fromDate"
                                            class="form-control form-control-sm"/>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3">
                                    <div class="form-group">
                                        <label class="control-label">Đến ngày: </label><input
                                            name="toDate" id="toDate"
                                            class="form-control form-control-sm"/>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label">Tìm kiếm: </label><input
                                            name="key" id="key"
                                            placeholder="Tên sản phẩm"
                                            class="form-control form-control-sm"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="table-data__tool-right">
                            <button class="au-btn au-btn-icon au-btn--green au-btn--small">
                                <i class="zmdi zmdi-file"></i> Xuất báo cáo
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="table-responsive table-responsive-data2">
        <table class="table table-data2" id="datatable">
            <thead>
            <tr>
                <th class="text-center">Mã đơn</th>
                <th>Ngày đặt đơn</th>
                <th>Sản phẩm</th>
                <th>Tổng tiền</th>
                <th>Hành động</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <div class="modal fade" id="detail" tabindex="-1"
         role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">Chi tiết đơn hàng</div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" th:inline="javascript">
		var vietnameseUrl = [[@{/management/vendor/datatables/Vietnamese.json}]];
		var url = [[@{/api/order/getAllPaging}]];
		var detailUrl = [[@{/api/order/getById}]];

		var id = "";
		var table;
		$(document).ready(function () {
			table = $('#datatable').DataTable({
				"ordering": false,
				"searching": false,
				"paging": true,
				"destroy": true,
				"info": true,
				"autoWidth": false,
				"processing": true,
				"serverSide": true,
				"ajax": {
					type: "POST",
					url: url,
					dataType: "json",
					contentType: "application/json",
					data: function (d) {
                          d.toDate = $('#toDate').val();
                          d.fromDate = $('#fromDate').val();
                          d.status = 3;
                          return JSON.stringify(d);
                    },
					error: function (data) {
						alert(data.responseJSON.error + "\n" + data.responseJSON.message);
					}
				},
				"lengthMenu": [10, 25, 50, 100, 200],
				"columns": [
					{ "data": "id", className: "text-right"},
					{ "data": "createdDate", className: "text-center" },
					{ "data": "items", className: "text-left" },
					{ "data": "totalMoney", className: "text-right" },
					{ "data": "id", className: "text-center" },
				],
				"createdRow": function (row, data, index) {
					$(row).addClass('tr-shadow');
				},
				columnDefs:[
				{
					"render": function ( data, type, row ) {
						var content = "";
						for(let i = 0; i < data.length - 1; i++){
						    content = content + data[i] + "<br/>";
						}
						content = content + data[data.length - 1];
						return content;
	                 },
	                 "orderable": false,
   	                "targets": 2
	                },
	                {
					"render": function ( data, type, row ) {
						return formatNumber(data) + "đ";
	                 },
	                "orderable": false,
   	                "targets": 3
	                },
	                {
					"render": function ( data, type, row ) {
						 var content = '<div class="table-data-feature">'
		                    +'<button class="btn au-btn--block btn-warning" data-placement="top" data-toggle="modal" data-target="#detail" onclick="getDetail('+data+')"><i class="fa fa-caret-right"></i> Chi tiết</button></div>';
				         return content;
	                 },
	                 "orderable": false,
   	                "targets": 4
	                }
				],
				"language": {
					"url": vietnameseUrl,
				},
				"initComplete": function (settings, json) {
                  $('#fromDate').change(function (e) {
                      table.draw();
                  });
                  $('#toDate').change(function (e) {
                      table.draw();
                  });
                },
				"drawCallback": function () {
					table.rows().every(function () {
						this.nodes().to$().after('<tr class="spacer"></tr>')
					})
				}
			});
		});
		$('#datatable').on( 'click', 'tbody tr', function () {
				var data = table.row($(this)).data();
				id = data.id;
		});
		function getDetail(orderId){
            $.ajax({
                type: "GET",
                url: detailUrl,
                contentType: "application/json",
                data: {"id" : orderId},
                success: function(data){
                     $('#detail .modal-header').html("Chi tiết đơn hàng #" + orderId + getStatus(data.status));
                     $('#detail .modal-body').html(
                         '<div class="row">'
                            +'<div class="col-sm-4">'
                                +'<h4>Khách hàng</h4>'
                                +'<hr>'
                                +'<h4>'+data.customerName+'</h4>'
                                +'<p>Số điện thoại: <span><b>'+data.customerPhone+'</b></span></p>'
                            +'</div>'
                            +'<div class="col-sm-4">'
                                +'<h4>Người nhận</h4>'
                                +'<hr>'
                                +'<h4 id="receiverName">'+data.contact.name+'</h4>'
                                +'<p>Số điện thoại: <span><b>'+data.contact.phone+'</b></span></p>'
                                +'<p>Địa chỉ: <span><b>'+data.contact.address + ', ' + data.contact.location+'</b></span>'
                                +'</p>'
                            +'</div>'
                            +'<div class="col-sm-4">'
                                +'<h4>Hình thức thanh toán</h4>'
                                +'<hr>'
                                +'<h4>'+data.paymentMethod+'</h4>'
                                +'<span class="lead"></span>'
                            +'</div>'
                        +'</div>'
                        +'<hr>'
                        +'<div class="table-responsive table-responsive-data2">'
                            +'<table class="table table-striped" id="items">'
                                +'<thead>'
                                    +'<tr>'
                                        +'<th>Ảnh</th>'
                                        +'<th>Sản phẩm</th>'
                                        +'<th>Giá</th>'
                                        +'<th>Số lượng</th>'
                                        +'<th>Tổng tiền</th>'
                                    +'</tr>'
                                +'</thead>'
                                +'<tbody>'
                                +'</tbody>'
                            +'</table>'
                        +'</div>'
                        +'<hr>'
                        +'<h4>Theo dõi đơn hàng</h4>'
                        +'<p>Ngày đặt hàng: <span><b>'+data.createdDate+'</b></span></p>'
                        +'<div class="table-responsive table-responsive-data2">'
                            +'<table class="table table-striped" id="histories">'
                                +'<thead>'
                                    +'<tr>'
                                        +'<th>Thời gian</th>'
                                        +'<th>Trạng thái</th>'
                                        +'<th>Nội dung</th>'
                                    +'</tr>'
                                +'<thead>'
                                +'<tbody>'
                                +'</tbody>'
                            +'</table>'
                        +'</div>'
                    );
                    if (data.status == 5) {
                        $('#detail .modal-body #paymentStatus').html('<span class="badge badge-danger">Chưa thanh toán</span>');
                     } else if (data.status == 3) {
                        $('#detail .modal-body #paymentStatus').html('<span class="badge badge-success">Thanh toán thành công</span></span>');
                    }
                    $.each(data.items, function(key, value) {
                        $('#detail .modal-body #items tbody').html($('#detail .modal-body #items tbody').html() +
                            '<tr>'
                                +'<td class="align-middle"><image width="100" src="'+value.image+'"></td>'
                                +'<td class="align-middle">'+value.name+'</td>'
                                +'<td class="align-middle">'+formatNumber(value.unitPrice)+'đ</td>'
                                +'<td class="align-middle">'+value.quantity+'</td>'
                                +'<td class="align-middle">'+formatNumber(value.unitPrice*value.quantity)+'đ</td>'
                            +'</tr>'
                        );
                    });
                    $.each(data.histories, function(key, value) {
                        $('#detail .modal-body #histories tbody').html($('#detail .modal-body #histories tbody').html() +
                            '<tr>'
                                +'<td class="align-middle">'+value.createdDate+'</td>'
                                +'<td class="align-middle">'+getStatus(value.status)+'</td>'
                                +'<td class="align-middle">'+(value.content == null ? "" : value.content)+'</td>'
                            +'</tr>'
                        );
                    });
                },
                error: function (data) {
                     $("#notice").find('div.modal-body').html('<b>' + data.responseJSON.error + "\n" + data.responseJSON.message + '<b>');
                     $("#notice").modal("show");
                }
            });
		}
		function getStatus(status){
            if (status == 5) {
                return '<span class="lead"><span class="badge badge-secondary">Chờ thanh toán</span></span>'
            } else if (status == 0) {
                return '<span class="lead"><span class="badge badge-warning">Chờ xác nhận</span></span>'
            } else if (status == 1) {
                return '<span class="lead"><span class="badge badge-info">Chờ lấy hàng</span></span>'
            } else if (status == 2) {
                return '<span class="lead"><span class="badge badge-primary">Đang giao</span></span>'
            } else if (status == 3) {
                return '<span class="lead"><span class="badge badge-success">Giao thành công</span></span>'
            } else if (status == 4) {
                return '<span class="lead"><span class="badge badge-danger">Đã hủy</span></span>'
            }
		}
    </script>
</div>
</body>
</html>
