<div th:fragment="sidebar" th:remove="tag"
     xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <!-- MENU SIDEBAR-->
    <aside class="menu-sidebar d-none d-lg-block">
        <div class="logo">
            <a th:href="@{/dashboard}">
                <img th:src="@{/store/images/home/logo.png}" alt="E-Shopper"/>
            </a>
        </div>
        <div class="menu-sidebar__content js-scrollbar1">
            <nav class="navbar-sidebar">
                <ul class="list-unstyled navbar__list">
                    <li class="active has-sub">
                        <a th:href="@{/seller/home}">
                            <i class="fas fa-tachometer-alt"></i>Dashboard</a>
                    </li>
                    <li>
                        <a th:href="@{/seller/shop/info}">
                            <i class="fa fa-home"></i>Thông tin shop</a>
                    </li>
                    <li>
                        <a id="productMenu" class="js-arrow" href="#">
                            <i class="fa fa-laptop"></i>Quản lý sản phẩm<i class="fa fa-angle-down"
                                                                           style="margin-left: auto;"></i></a>
                        <ul class="list-unstyled navbar__sub-list js-sub-list">
                            <li>
                                <a th:href="@{/seller/product/add}"><i class="fa fa-plus-circle"></i> Tạo mới sản
                                    phẩm</a>
                            </li>
                            <li>
                                <a th:href="@{/seller/product/list-new}"><i class="fa fa-list-alt"></i> Sản phẩm mới tạo</a>
                            </li>
                            <li>
                                <a th:href="@{/seller/product/list-waiting-for-accept}"><i class="fa  fa-spinner"></i>
                                    Sản phẩm chờ
                                    duyệt</a>
                            </li>
                            <li>
                                <a th:href="@{/seller/product/list-accepted}"><i class="fa fa-check"></i> Sản phẩm đã
                                    duyệt</a>
                            </li>
                            <li>
                                <a th:href="@{/seller/product/list-deny}"><i class="fa fa-times"></i> Sản phẩm bị từ
                                    chối</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a id="orderMenu" class="js-arrow" href="#">
                            <i class="fa fa-copy"></i>Quản lý đơn hàng<i class="fa fa-angle-down"
                                                                         style="margin-left: auto;"></i></a>
                        <ul class="list-unstyled navbar__sub-list js-sub-list">
                            <li>
                                <a th:href="@{/seller/order/list-waiting-for-accept}"><i class="fa fa-share"></i> Đơn
                                    đến / Chờ xác nhận</a>
                            </li>
                            <li>
                                <a th:href="@{/seller/order/list-waiting-for-item}"><i class="fa fa-check"></i> Đã xác
                                    nhận / Chờ lấy hàng</a>
                            </li>
                            <li>
                                <a th:href="@{/seller/order/list-delivering}"><i class="fa fa-reply"></i> Đang vận
                                    chuyển</a>
                            </li>
                            <li>
                                <a th:href="@{/seller/order/list-success}"><i class="fa fa-dollar"></i> Giao thành công</a>
                            </li>
                            <li>
                                <a th:href="@{/seller/order/list-cancel}"><i class="fa fa-times"></i> Đơn bị hủy</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a th:href="@{/seller/statistic}">
                            <i class="fa fa-chart-bar"></i>Chỉ số / Thống kê</a>
                    </li>
                </ul>
            </nav>
        </div>
    </aside>
    <!-- END MENU SIDEBAR-->
    <script>
    $(document).ready(function() {
       let sideOpen = window.location.pathname.split("/")[2];
       if(sideOpen == "order"){
            $("#orderMenu").click();
       }
       else if(sideOpen == "product"){
            $("#productMenu").click();
       }
    });
    </script>
</div>