<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Đơn hàng | E-Shopper</title>
    <link rel="shortcut icon" href="/store/images/favicon.png">
    <link href="/store/css/main.css" rel="stylesheet">
    <link href="/store/css/bootstrap.min.css" rel="stylesheet">
</head><!--/head-->

<body>
<div class="container text-center">
    <div class="logo-404">
        <img src="/store/images/home/logo.png" alt=""/>
    </div>
    <hr>
    <div class="content-404">
        <img src="/store/images/warning.png" class="403" alt="" height="200"/>
        <h1><b>Đơn hàng cần được thanh toán!</b></h1>
        <p> Truy cập <a href="/customer/order">theo dõi đơn hàng</a> để biết thêm chi tiết.</p>
        <h2><a href="/home">Về trang chủ</a></h2>
    </div>
</div>
</body>
</html>