<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="customer/common/template" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Đơn hàng</title>
    <script th:src="@{/store/js/jquery.js}"></script>
</head><!--/head-->
<body>
<div layout:fragment="content" th:remove="tag">
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-9 padding-right">
                    <div class="features_items"><!--features_items-->
                        <h2 class="title text-center">Đơn hàng của bạn</h2>
                        <h4>
                            <span th:text="'Chi tiết đơn hàng #' + ${order.id} + ' - '"></span>
                            <span class="lead" th:if="${order.status == 5}"><span
                                    class="badge badge-secondary">Chờ thanh toán</span></span>
                            <span class="lead" th:if="${order.status == 0}"><span
                                    class="badge badge-warning">Chờ xác nhận</span></span>
                            <span class="lead" th:if="${order.status == 1}"><span
                                    class="badge badge-info">Chờ lấy hàng</span></span>
                            <span class="lead" th:if="${order.status == 2}"><span
                                    class="badge badge-primary">Đang giao</span></span>
                            <span class="lead" th:if="${order.status == 3}"><span
                                    class="badge badge-success">Giao thành công</span></span>
                            <span class="lead" th:if="${order.status == 4}"><span
                                    class="badge badge-danger">Đã hủy</span></span>
                        </h4>
                        <div class="row">
                            <div class="col-sm-4">
                                <h4>Khách hàng</h4>
                                <hr>
                                <h4 th:text="${order.customerName}"></h4>
                                <p>Số điện thoại: <span><b th:text="${order.customerPhone}"></b></span></p>
                            </div>
                            <div class="col-sm-4">
                                <h4>Người nhận</h4>
                                <hr>
                                <h4 th:text="${order.contact.name}"></h4>
                                <p>Số điện thoại: <span><b th:text="${order.contact.phone}"></b></span></p>
                                <p>Địa chỉ: <span><b
                                        th:text="${order.contact.address} + ', ' + ${order.contact.location}"></b></span>
                                </p>
                            </div>
                            <div class="col-sm-4">
                                <h4>Hình thức thanh toán</h4>
                                <hr>
                                <h4 th:text="${order.paymentMethod}"></h4>
                                <span class="lead" th:if="${order.status == 5}">
                                    <span class="badge badge-danger">Chưa thanh toán</span>
                                    <a class="btn btn-primary2" th:href="@{/customer/order/pay-again} + '?orderId=' + ${order.id}"><i class="fa fa-money"></i> Thanh toán lại</a>
                                </span>
                                <span class="lead" th:if="${order.status == 3}"><span
                                        class="badge badge-success">Thanh toán thành công</span></span>
                            </div>
                        </div>
                        <hr>
                        <div class="table-responsive table-responsive-data2">
                            <table class="table table-striped table-dark">
                                <thead>
                                <tr>
                                    <th>Ảnh</th>
                                    <th>Sản phẩm</th>
                                    <th>Giá</th>
                                    <th>Số lượng</th>
                                    <th>Tổng tiền</th>
                                </tr>
                                <tr th:each="item : ${order.items}">
                                    <td class="align-middle"><img th:src="${item.image}" width="100"></td>
                                    <td th:text="${item.name}" class="align-middle"></td>
                                    <td th:text="${#numbers.formatDecimal(item.unitPrice, 0, 'POINT', 0, 'POINT') +'đ'}"
                                        class="align-middle"></td>
                                    <td th:text="${item.quantity}" class="align-middle"></td>
                                    <td th:text="${#numbers.formatDecimal(item.unitPrice * item.quantity, 0, 'POINT', 0, 'POINT') +'đ'}"
                                        class="align-middle"></td>
                                </tr>
                                </thead>
                            </table>
                        </div>
                        <hr>
                        <h4>Theo dõi đơn hàng</h4>
                        <p>Ngày đặt hàng: <span><b th:text="${order.createdDate}"></b></span></p>
                        <div class="table-responsive table-responsive-data2">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Thời gian</th>
                                    <th>Trạng thái</th>
                                    <th>Nội dung</th>
                                </tr>
                                <tr th:each="history : ${order.histories}">
                                    <td th:text="${history.createdDate}" class="align-middle"></td>
                                    <td class="align-middle">
                                        <span class="lead" th:if="${history.status == 5}"><span
                                                class="badge badge-secondary">Chờ thanh toán</span></span>
                                        <span class="lead" th:if="${history.status == 0}"><span
                                                class="badge badge-warning">Chờ xác nhận</span></span>
                                        <span class="lead" th:if="${history.status == 1}"><span
                                                class="badge badge-info">Chờ lấy hàng</span></span>
                                        <span class="lead" th:if="${history.status == 2}"><span
                                                class="badge badge-primary">Đang giao</span></span>
                                        <span class="lead" th:if="${history.status == 3}"><span
                                                class="badge badge-success">Giao thành công</span></span>
                                        <span class="lead" th:if="${history.status == 4}"><span
                                                class="badge badge-danger">Đã hủy</span></span>
                                    </td>
                                    <td th:text="${history.content}" class="align-middle"></td>
                                </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>