<div th:fragment="header" th:remove="tag"
     xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <header class="header-desktop3 d-none d-lg-block">
        <div class="section__content section__content--p35">
            <div class="header3-wrap">
                <div class="header__logo"></div>
                <div class="header__navbar">
                    <ul class="list-unstyled">
                        <li class="has-sub"><a th:href=@{/home} style="color: #002677; font-weight: bold;"
                        > <i class="fa fa-home"></i> <span
                                class="bot-line"></span>
                            Trang Chủ
                        </a>
                        <li class="has-sub"><a style="color: #002677; font-weight: bold;"
                        > <i class="fa fa-search"></i> <span
                                class="bot-line"></span>
                            Tra cứu
                        </a>
                            <ul class="header3-sub-list list-unstyled">
                                <li><a th:href="@{/lookup}">Bảo hiểm xã hội</a></li>
                                <li><a th:href="@{/method/list}">Hình thức đóng</a></li>
                                <li><a th:href="@{/user/myInsurance}">Bảo hiểm cá nhân</a></li>
                                <li><a th:href="@{/user/myPaymentHistories}">Lịch sử đóng</a></li>
                            </ul>
                        </li>
                        <li class="has-sub"><a th:href="@{/user/myConfig}" style="color: #002677; font-weight: bold;"> <i
                                class="fa fa-cogs"></i> <span class="bot-line"></span>
                            Cấu hình
                        </a>
                        </li>
                    </ul>
                </div>
                <!--                <div class="header__tool">-->
                <div class="account-wrap">
                    <div class="account-item clearfix js-item-menu">
                        <div class="content">
                            <a class="js-acc-btn" th:href="@{/user/profile}"
                               sec:authentication="principal.name"></a>
                        </div>
                        <div class="account-dropdown js-dropdown">
                            <div class="info clearfix">
                                <div class="content">
                                    <h5 class="name">
                                        <a th:href="@{/user/profile}"
                                           sec:authentication="principal.name"></a>
                                    </h5>
                                </div>
                            </div>
                            <div class="account-dropdown__body">
                                <div class="account-dropdown__item">
                                    <a th:href="@{/user/profile}"> <i
                                            class="zmdi zmdi-account"></i>Thông tin tài khoản
                                    </a>
                                </div>
                            </div>
                            <div class="account-dropdown__footer">
                                <a th:href="@{/logout}"> <i class="zmdi zmdi-power"></i>Đăng
                                    xuất
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--        </div>-->
    </header>
</div>